.big-numbers-container {

    position : relative;
    /*height: 200px;*/
    width : 100%;
    height : 100px;

    font-family: Lato-Regular;

    margin-top : 30px;
    margin-left : 20px;

    background-color : white;

}

.big-numbers-container > div {
    width : 33%;
    display : inline-block;
    margin-left  : auto;
    margin-right : auto;
    position : relative;
    cursor : pointer;
    text-align: center;
}

.big-numbers-container > div .tick_wrp {
    position : relative;
    width : 40%;
    height : 100px;
    display : inline-block;

}

.big-numbers-container > div .info_wrp {
    position : relative;
    width : 60%;
    height : 100px;
    display : inline-block;
    text-align : left;
    float : right;
  }

.big-numbers-container > div .tick {
    width  : 15px;
    height : 15px;
    border : 2px solid;
    border-radius : 3px;
    position : absolute;
    right : 0px;
    top : 0px;
}

.big-numbers-container > div .tick .tick_img {

    background : url('../images/tick.svg');
    background-image: url("../images/tick.svg");
    background-repeat   : no-repeat;
    background-position : center;

    width  : 15px;
    height : 15px;

}

.big-numbers-container div .select {
    /*position : absolute;
    left : 40px;
    top : 0px;*/
    margin-left : 10px;
    font-size: 15px;
    color : #3d3d3d;
}

.big-numbers-container div .number {
    /*position : absolute;
    left : 40px;
    top : 20px;*/

    margin-left : 10px;
    font-size : 22px;
    color : #132737;
}

.big-number {
    /*float:left; position:relative;*/

    /*width : 33%;

    display : inline-block;
    margin-left  : auto;
    margin-right : auto;*/
}
