#populator {
    min-height: 900px;
}

#populator .headline {    
    font-family: Lato-Semibold;
    font-size: 17px;
    color: #132737;
    letter-spacing: 1.39px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom : 30px;
    text-transform: uppercase;
}

#populator .setting_block {
    margin-bottom : 20px;
    font-family : Lato-Regular;
}

#populator .setting_block div {
    display : inline-block;
}

#populator .setting_block .setting_label {
    width : 300px;    
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Lato-Medium;
    text-align : right;
    margin-right : 14px;
}

#populator .setting_block input {
    width: 250px;
    height: 30px;
    padding-left: 10px;
    border-radius: 2px;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
}
    
#populator .generate_button {
     
    position : absolute;
    top : 240px;
    left : 314px;      
    display : inline-block;
    
    border: 1px solid #F85D02;
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    line-height: 36px;
    color: #F85D02;
    position: absolute;
    bottom: 20px;
    right: 22px;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    
    font-family : Lato-Regular;
    text-transform : capitalize;
}

#populator .info_block {
    display : none;
}

#populator #calendar {
    
    position : relative;
    left : 314px;
    top : 0px;
    margin-top : 0px;
    
}

#populator .in_progress {
    position : absolute;
    top : 270px;
    left : 314px;   
    font-family : Lato-Regular;
    margin-top : 10px;
}