@bg_color_1 : #03CF57;
@bg_color_2 : #00C652;
@bg_color_3 : #2d404e;
@bg_color_4 : #132737;
@bg_color_5 : #1EB65D;
@bg_color_6 : #273743;

@font_color_1 : #EAEAEA;
@font_color_2 : #B8B8B8;

@border_color_1 : #324656;
@border_color_2 : #132737;
