#top_bar {
    position : fixed;
    top      : 0px;
    left     : 240px;
    z-index  : 3000;
    width    : 100%;
    height   : 59px;
    color    : #000;
    border-bottom : 1px solid #EEEEEE;
    white-space   : nowrap;
    background-color : white;
}

#top_bar .navigation {
    height      : 60px;
    line-height : 60px;
}

#top_bar .navigation .fstmenu {
    margin-left : 20px;
    font-family : Lato-Regular;
    font-size   : 14px;
    color       : #969696;
    position    : relative;
}

#top_bar .navigation .arrow_icon {

    display     : inline-block;
    position    : relative;
    width       : 5px;
    height      : 10px;
    margin-left : 10px;
    background-image    : url("../images/sidebar/arrow_black.svg");
    background-repeat   : no-repeat;
    background-position : center;
}

#top_bar .navigation .sndmenu {
    position    : relative;
    margin-left : 10px;
    font-family : Lato-Regular;
    font-size   : 14px;
    color       : #3D3D3D;
}

#top_bar .navigation .sndmenu.dashboard {
    margin-left : 0px !important;
}

#top_bar .navigation .hint_icon {

    display     : inline-block;
    position    : relative;
    top         : 4px;
    width       : 20px;
    height      : 20px;
    margin-left : 10px;
    background-image    : url("../images/sidebar/hint_icon_topbar.svg");
    background-repeat   : no-repeat;
    background-position : center;
}
