<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
   ______                  __  __
  / ____/___  __  ______  / /_/ /_  __
 / /   / __ \/ / / / __ \/ __/ / / / /
/ /___/ /_/ / /_/ / / / / /_/ / /_/ /
\____/\____/\__,_/_/ /_/\__/_/\__, /
              http://count.ly/____/
-->
<html>
<head>
	<title><%- countlyTitle %></title>
    <script><%- javascript %></script>
		<link rel="icon" type="image/png" href="<%- cdn %>/images/favicon.png">
        <!--link rel="stylesheet" href="<%- cdn %>/stylesheets/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="<%- cdn %>/stylesheets/entypo/css/entypo.css" /-->
		<!--link rel="stylesheet" href="<%- cdn %>/javascripts/dom/jqueryui/jquery.ui.base.css" />
		<link rel="stylesheet" href="<%- cdn %>/javascripts/dom/jqueryui/jquery.ui.theme.css" /-->

        <% if (production) { %>

            <link rel="stylesheet" href="<%- cdn %>/stylesheets/main.min.css?<%= countlyVersion %>" />
            <!--link rel="stylesheet" href="<%- cdn %>/stylesheets/plugins.min.css?<%= countlyVersion %>" /-->

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/min/countly.dom.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/min/countly.utils.js?<%= countlyVersion %>"></script>

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/min/countly.visualization.js?<%= countlyVersion %>"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.config.js?<%= countlyVersion %>"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/min/countly.lib.js?<%= countlyVersion %>"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/min/countly.plugins.js?<%= countlyVersion %>"></script>

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/min/countly.react_components.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/min/countly.react_pages.js?<%= countlyVersion %>"></script>

            <script language="javascript" type="text/javascript" src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js"></script>

            <script type="text/javascript" src="<%- cdn %>/javascripts/JSXTransformer.js"></script>

            <!--style type="text/less">
            		.transition (@value1,@value2:X,...) { @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`; -webkit-transition: @value; -moz-transition: @value; -ms-transition: @value; -o-transition: @value; transition: @value; }
            		.transform (@value1,@value2:X,...) { @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`; transform:@value; -ms-transform:@value; -webkit-transform:@value; -o-transform:@value; -moz-transform:@value; }
            		.border-box { box-sizing:border-box; -moz-box-sizing:border-box; }
            </style>

            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.5/less.min.js"></script-->

		<% } else { %>

            <!-- DEVELOPMENT -->
            <link rel="stylesheet" href="<%- cdn %>/stylesheets/main.css?<%= countlyVersion %>" />
		    <!--link rel="stylesheet" href="<%- cdn %>/javascripts/dom/tipsy/tipsy.css" />
		    <link rel="stylesheet" href="<%- cdn %>/stylesheets/amaranjs/amaran.min.css" /-->


			<% if (plugins) { %>
                <% for(var i=0, l=plugins.length; i<l; i++) {%>
                <!--link rel="stylesheet" href="<%- cdn %>/<%= plugins[i] %>/stylesheets/main.css?<%= countlyVersion %>" /-->
        <% } %>
			<% } %>


            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/sidebar.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/topbar.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/calendar.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/line_chart.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/big_number.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/radio_button.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/javascripts/visualization/rickshaw/rickshaw.min.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/javascripts/react-widgets/core.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/javascripts/react-widgets/react-widgets.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/tables.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/dashboard.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/date_sign_block.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/map.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/applications.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/javascripts/fixed-data-table/dist/fixed-data-table.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/bar_chart.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/horizontal_bar_chart.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/manage_users.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/configurations.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/events_page.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/crashes_page.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/selector_with_search.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/select.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/multi_select.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/crash_details.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/bool_pie_chart.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/average_bar.css" />
						<link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/platforms.css" />

		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/jquery/jquery-1.8.3.min.js"></script>
		    <!--script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/jquery.form.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/tipsy/jquery.tipsy.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/jquery.noisy.min.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/jquery.sticky.headers.js"></script-->
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/jqueryui/jquery-ui-1.8.22.custom.min.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/jqueryui/jquery-ui-i18n.js"></script>
		    <!--script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/slimScroll.min.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/jquery.easing.1.3.js"></script-->
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/underscore-min.js"></script>
		    <!--script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/prefixfree.min.js"></script-->
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/moment/moment.min.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/moment/moment.isocalendar.min.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/moment/lang-all.min.js"></script>
		    <!--script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/handlebars.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/backbone-min.js"></script-->
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/jquery.i18n.properties-min-1.0.9.js"></script>
		    <!--script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/jstz.min.js"></script-->
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/store+json2.min.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/jquery.idle-timer.js"></script>
		    <!--script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/initialAvatar.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/jquery.amaran.min.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/jquery.titlealert.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/dataTables/js/jquery.dataTables.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/dataTables/js/ZeroClipboard.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/dataTables/js/TableTools.js"></script-->

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/simple-excel.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/react-with-addons.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/ReactRouter.min.js"></script>
            <script type="text/javascript" src="<%- cdn %>/javascripts/visualization/d3pie.js"></script>
            <script type="text/javascript" src="<%- cdn %>/javascripts/JSXTransformer.js"></script>
            <script type="text/javascript" src="<%- cdn %>/javascripts/fixed-data-table/dist/fixed-data-table.js"></script>
            <script type="text/javascript" src="<%- cdn %>/javascripts/utils/globalize.min.js"></script>
            <script type="text/javascript" src="<%- cdn %>/javascripts/react-widgets/react-widgets.js"></script>


            <!-- DEVELOPMENT -->
		    <!--script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/textcounter.min.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/jquery.peity.min.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/flot/jquery.flot.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/flot/jquery.flot.tickrotor.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/flot/jquery.flot.pie.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/flot/jquery.flot.resize.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/flot/jquery.flot.stack.js"></script>
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/gauge.min.js"></script-->
		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/d3/d3.min.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/d3/d3.geo.projection.min.js"></script>

		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/rickshaw/rickshaw.js"></script>

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/datamaps/country_codes.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/datamaps/topojson.min.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/datamaps/datamaps.world.min.js"></script>

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.common.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.config.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.event.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.session.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.city.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.location.js?<%= countlyVersion %>"></script>
						<script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.map.helper.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.user.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.device.list.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.device.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.device.detail.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.app.version.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.carrier.js?<%= countlyVersion %>"></script>
						<script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.allapps.js?<%= countlyVersion %>"></script>

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/sort_functions.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/superagent.min.js?<%= countlyVersion %>"></script>

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/react-dropzone.js?<%= countlyVersion %>"></script>

						<script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.template.js?<%= countlyVersion %>"></script>

						<script type="text/jsx" src="<%- cdn %>/javascripts/react_components/update_page_mixin.js"></script>
						<script type="text/jsx" src="<%- cdn %>/javascripts/react_components/outside_click_close_mixin.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/dashboard.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/frequency.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/loyalty.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/duration.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/device.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/resolution.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/session.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/user.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/carrier.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/countries.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/events.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/crashes.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/crash_details.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/densities.js"></script>
						<script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/language.js"></script>
						<script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/platforms.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/applications.js"></script>
            <!--script type="text/javascript" src="http://192.168.187.129:3000/static/bundle.js"></script-->

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/manage_users.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/configurations.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/map_session.js"></script>

            <!--script type="text/jsx" src="<%- cdn %>/javascripts/react_pages_compiled/router.js"></script-->

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/dashboard.bar_chart.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/map_simple.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/map_full.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/date_sign_block.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/editable_field.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/sidebar.data.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/sidebar.top.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/sidebar.right.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/sidebar.left.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/sidebar.applist.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/sidebar.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/topbar.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/calendar.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/big_number.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/data_date_sign.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/table.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/table_filter.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/line_chart.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/line_chart.time_extension.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/line_chart.granularity.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/bar_chart.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/pie_chart.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/horizontal_bar_chart.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/radio_button.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/manage_user_block.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/loader.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/search_select.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/select.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/multi_select.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/simple_input.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/bool_pie_chart.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/average_bar.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/multi_lang_label.js"></script>

						<script type="text/jsx" src="<%- cdn %>/javascripts/react_components/horizontal_bar_interactive.js"></script>

            <!--script type="text/jsx" src="<%- cdn %>/javascripts/react-height.min.js"></script-->

            <% if (plugins) { %>
            	<% for(var i=0, l=plugins.length; i<l; i++) {%>
            		<script language="javascript" type="text/javascript" src="<%- cdn %>/<%= plugins[i] %>/javascripts/countly.models.js?<%= countlyVersion %>"></script>
            		<!--script language="javascript" type="text/javascript" src="<%- cdn %>/<%= plugins[i] %>/javascripts/countly.views.js?<%= countlyVersion %>"></script-->
            	<% } %>
            <% } %>

						<style>
								/* todo: add window resize events */
								#countly_logo_side, #countly_logo, #countly_version {
										display : none;
								}
						</style>

        <% } %>

		<script type="text/javascript">

				var event_emitter = {};
        var global_controller = {}; // todo: remove

        var cached_viewport_width = false;

        var get_viewport_width = function() // first time it gives width without vertical scroll block
        {

        		if (cached_viewport_width)
          	{
            		return cached_viewport_width;
          	}

          	var width = document.body.clientWidth - 240 - 20 - 20 - 16; // todo : variables

          	cached_viewport_width = width;

          	return width;
        }

    </script>

    <script type="text/javascript">

				var sidebar_width = 240;

		    window.production = <%= production ? true : false %>;

        var applications = [];

        <% for (var i = 0; i < userOfApps.length; i++) { %>

          		var app_id   = "<%= userOfApps[i]._id %>";
          		var app_name = "<%= userOfApps[i].name %>";
          		var app_logo = "<%= userOfApps[i]._id %>.png";
          		var app_key  = "<%= userOfApps[i].key %>";

          		applications.push({
                    id   : app_id,
                    name : app_name,
                    logo : app_logo,
                    key  : app_key
                });

        <% } %>

        /*
        applications.forEach(function(app){
                var icon_src = "./images/" + app.icon;
                $(new Image()).attr('src', icon_src).load(function() { });
        });
        */

        try {
          	moment.lang(countlyCommon.BROWSER_LANG_SHORT);
        } catch(e) {
          	moment.lang("en");
        }

				console.log("================ init apps ==============");
				console.log(applications);

				console.log("--------- init global apps ----------");
				console.log(countlyGlobal['apps']);

        if (!countlyCommon.ACTIVE_APP_ID) {

            for (var appId in countlyGlobal['apps']) {

                //console.log(countlyCommon);

                countlyCommon.setActiveApp(appId);
                /*
                countlyCommon.ACTIVE_APP_KEY = countlyGlobal['apps'][appId].key;
                countlyCommon.ACTIVE_APP_ID = appId;
                store.set("countly_active_app", appId);
                */

                store.set("countly_active_app", appId);

                //self.activeAppName = countlyGlobal['apps'][appId].name;
                break;
            }

        } else {
          	//self.activeAppName = countlyGlobal['apps'][countlyCommon.ACTIVE_APP_ID].name;
        }

				/*
        $(event_emitter).on('app_changed', function(e, data){ // todo: remove

  		    self.activeAppName = "hello";
          self.activeAppKey  = data.app_key;

          countlyCommon.setActiveApp(data.app_id);

          self.activeView.appChanged();

        }.bind(self));
        */

        var countly_version = "<%= countlyTypeName %>";
				var api_key =	"<%= member['api_key'] %>";
				var user_full_name = "<%= member['full_name'] %>";

				console.log("api key:", api_key);

    </script>

</head>
<body>

    <div id="react_routing"></div>

    <div id="preloader"></div>

    <div id='weekly_extend_block' class="period_extend_block">
        <span class='big'>Time range contains an Incomplete week</span>
        <a class='small'>Click to extent to full weeks</a>
        <div class="bottom_arrow"></div>
    </div>

    <div id='monthly_extend_block' class="period_extend_block">
        <span class='big'>Time range contains an Incomplete month</span>
        <a class='small'>Click to extent to full months</a>
        <div class="bottom_arrow"></div>
    </div>

    <!--script language="javascript" type="text/javascript" src="https://www.google.com/jsapi"></script-->

    <% if (production) { %>
        <!--  -->
    <% } else { %>
        <% if (plugins) { %>
            <% for(var i=0, l=plugins.length; i<l; i++) {%>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/<%= plugins[i] %>/javascripts/countly.models.js?<%= countlyVersion %>"></script>
            <!--script language="javascript" type="text/javascript" src="<%- cdn %><%= plugins[i] %>/javascripts/countly.views.js?<%= countlyVersion %>"></script-->
            <% } %>
        <% } %>
    <% } %>

    <script type="text/jsx">

				jQuery.i18n.properties({
						name:'locale',
						cache:true,
						language:countlyCommon.BROWSER_LANG_SHORT,
						path:[countlyGlobal["cdn"]+'/localization/min/'],
						mode:'map'
				});

				var active_app_id = countlyCommon.ACTIVE_APP_ID;

        var active_app_data = false;

        for (var i = 0; i < applications.length; i++)
        {
	      		if (applications[i].id == active_app_id)
	      		{
	                active_app_data = applications[i];
	                break;
	      		}
        }

        var wrapComponent = function(Component, props) {

            return React.createClass({

                componentWillReceiveProps: function(nextProps) {
                    console.log("== wrapper receive ===");
                    console.log(nextProps);
                },

                render: function() {

										/*if (applications.length == 0)
										{
												return React.createElement(ApplicationsPage, props);
										}
										else
										{*/
												return React.createElement(Component, props);
										/*}*/

                }
            });
				};

        var Router = ReactRouter.Router;
        var Route = ReactRouter.Route;

        const App = React.createClass({

            getInitialState : function(){

                return ({
          		    top_bar_first : false,
            			top_bar_second : false,
									//data_timestamp : false
                })
            },

            path_changed : function(first, second){
                this.setState({
          		    top_bar_first : first,
              		top_bar_second : second
                })
            },

            render() {

                if ((applications.length != 0) && this.props.location.pathname.indexOf("/manage/users") == -1 && this.props.location.pathname.indexOf("/manage/configurations") == -1 && this.props.location.pathname.indexOf("/manage/apps") == -1 && this.props.location.pathname.indexOf("/manage/applications") == -1 && this.props.location.pathname.indexOf("/crashes/") == -1)
                {

                    var calendar = <div id="calendar_block">
                                        <CalendarWrapper onDateChange={this.props.route.onDateChange}/>
                	  							 </div>

                    var container_style = {
                        "border-width" : "1px"
                		}
                }
                else
                {

                    var calendar = false;

                    var container_style = {
                        "top" : "80px",
                        "border-width" : "0px"
                    }
                }

                return (
                    <div className="app">

                        <div id="sidebar">
                            <FullSidebar
                                navigation={navigation}
                                active_app={active_app_data}
                                current_location={this.props.location.pathname}
                                applications={this.props.route.applications}
                                onChange={this.path_changed}
                                countly_version={countly_version}
                            />
                        </div>

                        <div id="top_bar">
                            <TopBar
                                user_name={user_full_name}
                                width={window.innerWidth - sidebar_width}
                                first={this.state.top_bar_first}
                                second={this.state.top_bar_second}
                            />
                        </div>

                        {calendar}

                        <div id="content-container" style={container_style}>
                            {this.props.children}
                        </div>

                    </div>
                )
            }
        })

        var CountlyRouter = React.createClass({

						/*mixins: [ ReactRouter.browserHistory ],*/

            getInitialState: function() {

                return({
                    date : false,
                    applications : applications,
										data_timestamp : false
                })

            },
/*
						componentWillMount : function()
						{
								if (applications.length == 0)
								{
										this.history.pushState(null, "/manage/apps");
								}
						},
*/
            date_change : function(new_date)
            {
                this.setState({
                    date : new_date
                })
            },

            on_app_rename : function(app){

                this.setState({
                    applications : countlyGlobal['apps']
                })

            },

            render() {

                return (
                    <Router history={ReactRouter.browserHistory}>
                        <Route path="/" component={App} applications={this.state.applications} onDateChange={this.date_change.bind(this)}> // this.props.route.onDateChange
                            <Route path="dashboard" component={wrapComponent(Dashboard, {date : this.state.date})}/>
                            <Route path="metrics">
                                <Route path="sessions"     component={wrapComponent(SessionPage,     {date : this.state.date})} date={this.state.date}/>
                                <Route path="users"        component={wrapComponent(UserPage,        {date : this.state.date})}/>
                                <Route path="resolutions"  component={wrapComponent(ResolutionsPage, {date : this.state.date})}/>
                                <Route path="devices"      component={wrapComponent(DevicesPage,     {date : this.state.date})}/>
                                <Route path="countries"    component={wrapComponent(CountriesPage,   {date : this.state.date})}/>
                                <Route path="carriers"     component={wrapComponent(CarrierPage,     {date : this.state.date})}/>
                                <Route path="map_sessions" component={wrapComponent(MapSessionPage,  {date : this.state.date})}/>
                                <Route path="density"    component={wrapComponent(DensitiesPage,   {date : this.state.date})}/>
																<Route path="language"    component={wrapComponent(LanguagePage,   {date : this.state.date})}/>
																<Route path="platforms"	component={wrapComponent(PlatformsPage,   {date : this.state.date})}/>
                            </Route>
                            <Route path="engagement">
                                <Route path="frequency" component={wrapComponent(FrequencyPage, {date : this.state.date})}/>
                                <Route path="loyalty"   component={wrapComponent(LoyaltyPage,   {date : this.state.date})}/>
                                <Route path="durations" component={wrapComponent(DurationPage,  {date : this.state.date})}/>
                            </Route>
                            <Route path="events"    component={wrapComponent(EventsPage, {date : this.state.date})}></Route>
                            <Route path="crashes"   component={wrapComponent(CrashesPage, {date : this.state.date})}></Route>
                            <Route name="crashes_detail" path="/crashes/:crash_id" component={CrashDetailsPage}/>
                            <Route path="manage">
                                <Route path="apps"  component={wrapComponent(ApplicationsPage, {on_app_rename : this.on_app_rename})} />
                                <Route path="users" component={ManageUsersPage}/>
                                <Route path="configurations" component={ConfigurationsPage}/>
                            </Route>
                        <Route path="*" component={wrapComponent(Dashboard, {date : this.state.date})}/></Route>
                    </Router>)
                }
        })

        React.render(React.createElement(CountlyRouter), document.getElementById("react_routing"));

    </script>

    <script type="text/javascript">

				Date.prototype.monthDays= function(){ // todo: move from here
						var d= new Date(this.getFullYear(), this.getMonth()+1, 0);
						return d.getDate();
				}

        String.prototype.hashCode = function() {
            var hash = 0, i, chr, len;
            if (this.length === 0) return hash;
            for (i = 0, len = this.length; i < len; i++) {
            chr   = this.charCodeAt(i);
            hash  = ((hash << 5) - hash) + chr;
            hash |= 0; // Convert to 32bit integer
            }
            return hash;
        };

    </script>

</body>
</html>
