<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
   ______                  __  __
  / ____/___  __  ______  / /_/ /_  __
 / /   / __ \/ / / / __ \/ __/ / / / /
/ /___/ /_/ / /_/ / / / / /_/ / /_/ /
\____/\____/\__,_/_/ /_/\__/_/\__, /
              http://count.ly/____/
-->
<html>
<head>
	<title><%- countlyTitle %></title>
    <script><%- javascript %></script>
		<link rel="icon" type="image/png" href="<%- cdn %>/images/favicon.png">
        <!--link rel="stylesheet" href="<%- cdn %>/stylesheets/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="<%- cdn %>/stylesheets/entypo/css/entypo.css" /-->
		<!--link rel="stylesheet" href="<%- cdn %>/javascripts/dom/jqueryui/jquery.ui.base.css" />
		<link rel="stylesheet" href="<%- cdn %>/javascripts/dom/jqueryui/jquery.ui.theme.css" /-->

        <% if (production) { %>

            <link rel="stylesheet" href="<%- cdn %>/stylesheets/main.min.css?<%= countlyVersion %>" />
            <!--link rel="stylesheet" href="<%- cdn %>/stylesheets/plugins.min.css?<%= countlyVersion %>" /-->

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/min/countly.dom.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/min/countly.utils.js?<%= countlyVersion %>"></script>

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/min/countly.visualization.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.config.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/min/countly.lib.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/min/countly.plugins.js?<%= countlyVersion %>"></script>

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/min/countly.react_components.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/min/countly.react_pages.js?<%= countlyVersion %>"></script>

            <script language="javascript" type="text/javascript" src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js"></script>

            <script type="text/javascript" src="<%- cdn %>/javascripts/JSXTransformer.js"></script>

		<% } else { %>

            <!-- DEVELOPMENT -->
            <link rel="stylesheet" href="<%- cdn %>/stylesheets/main.css?<%= countlyVersion %>" />
		    <!--link rel="stylesheet" href="<%- cdn %>/javascripts/dom/tipsy/tipsy.css" />
		    <link rel="stylesheet" href="<%- cdn %>/stylesheets/amaranjs/amaran.min.css" /-->


			<% if (plugins) { %>
                <% for(var i=0, l=plugins.length; i<l; i++) {%>
                <!--link rel="stylesheet" href="<%- cdn %>/<%= plugins[i] %>/stylesheets/main.css?<%= countlyVersion %>" /-->
                <% } %>
            <% } %>


            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/sidebar.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/topbar.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/calendar.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/line_chart.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/big_number.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/radio_button.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/javascripts/visualization/rickshaw/rickshaw.min.css" />
            
            
            <!--link rel="stylesheet" href="<%- cdn %>/javascripts/react_old/widgets/dist/css/core.css" />
			<link rel="stylesheet" href="<%- cdn %>/javascripts/react_old/widgets/dist/css/react-widgets.css" /-->
            
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/javascripts/react-widgets-restored/core.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/javascripts/react-widgets-restored/react-widgets.css" />
            
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/tables.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/dashboard.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/date_sign_block.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/map.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/applications.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/javascripts/fixed-data-table/dist/fixed-data-table.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/bar_chart.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/horizontal_bar_chart.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/manage_users.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/configurations.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/events_page.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/crashes_page.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/selector_with_search.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/select.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/multi_select.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/crash_details.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/bool_pie_chart.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/average_bar.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/platforms.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/no_data_block.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/alert.css" />
            <link rel="stylesheet" type="text/css" href="<%- cdn %>/stylesheets/populator.css" />

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/jquery/jquery-1.8.3.min.js"></script>
            <!--script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/jquery.form.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/tipsy/jquery.tipsy.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/jquery.noisy.min.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/jquery.sticky.headers.js"></script-->
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/jqueryui/jquery-ui-1.8.22.custom.min.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/jqueryui/jquery-ui-i18n.js"></script>
            <!--script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/slimScroll.min.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/jquery.easing.1.3.js"></script-->
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/underscore-min.js"></script>
            <!--script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/prefixfree.min.js"></script-->
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/moment/moment.min.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/moment/moment.isocalendar.min.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/moment/lang-all.min.js"></script>
            <!--script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/handlebars.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/backbone-min.js"></script-->
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/jquery.i18n.properties-min-1.0.9.js"></script>
            <!--script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/jstz.min.js"></script-->
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/store+json2.min.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/jquery.idle-timer.js"></script>
            <!--script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/initialAvatar.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/jquery.amaran.min.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/jquery.titlealert.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/dataTables/js/jquery.dataTables.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/dataTables/js/ZeroClipboard.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/dom/dataTables/js/TableTools.js"></script-->

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/simple-excel.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/react-with-addons.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/ReactRouter.min.js"></script>
            <script type="text/javascript" src="<%- cdn %>/javascripts/visualization/d3pie.js"></script>
            <script type="text/javascript" src="<%- cdn %>/javascripts/JSXTransformer.js"></script>
            <script type="text/javascript" src="<%- cdn %>/javascripts/fixed-data-table/dist/fixed-data-table.js"></script>
            <script type="text/javascript" src="<%- cdn %>/javascripts/utils/globalize.min.js"></script>
            
            <!--script type="text/javascript" src="<%- cdn %>/javascripts/react-widgets/react-widgets.js"></script-->
            <script type="text/javascript" src="<%- cdn %>/javascripts/utils/react-widgets.js"></script>

            <!-- DEVELOPMENT -->

		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/d3/d3.min.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/d3/d3.geo.projection.min.js"></script>

		    <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/rickshaw/rickshaw.js"></script>

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/datamaps/country_codes.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/datamaps/topojson.min.js"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/visualization/datamaps/datamaps.world.min.js"></script>

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.common.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.config.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.event.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.session.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.city.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.location.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.map.helper.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.user.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.device.list.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.device.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.device.detail.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.app.version.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.carrier.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.allapps.js?<%= countlyVersion %>"></script>

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/sort_functions.js?<%= countlyVersion %>"></script>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/utils/superagent.min.js?<%= countlyVersion %>"></script>

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/react-dropzone.js?<%= countlyVersion %>"></script>

            <script language="javascript" type="text/javascript" src="<%- cdn %>/javascripts/countly/countly.template.js?<%= countlyVersion %>"></script>
            
            <script language="javascript" type="text/javascript" src="<%- cdn %>/populator/javascripts/chance.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/update_page_mixin.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/outside_click_close_mixin.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/unmount_check_mixin.js"></script>
            
            <!--script type="text/jsx" src="<%- cdn %>/javascripts/react_pages_compiled/router.js"></script-->

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/dashboard.bar_chart.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/map_simple.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/map_full.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/date_sign_block.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/editable_field.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/sidebar.data.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/sidebar.top.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/sidebar.right.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/sidebar.left.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/sidebar.applist.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/sidebar.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/topbar.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/calendar.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/big_number.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/data_date_sign.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/table.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/table_filter.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/line_chart.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/line_chart.time_extension.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/line_chart.granularity.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/bar_chart.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/pie_chart.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/horizontal_bar_chart.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/radio_button.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/manage_user_block.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/loader.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/search_select.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/simple_select.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/multi_select.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/simple_input.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/bool_pie_chart.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/average_bar.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/multi_lang_label.js"></script>

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/horizontal_bar_interactive.js"></script>
            
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/no_data_block.js"></script>
            
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_components/alert.js"></script>
            
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/dashboard.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/frequency.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/loyalty.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/duration.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/device.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/resolution.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/session.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/user.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/carrier.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/countries.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/events.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/crashes.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/crash_details.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/densities.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/language.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/platforms.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/applications.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/populator.js"></script>
            <!--script type="text/javascript" src="http://192.168.187.129:3000/static/bundle.js"></script-->

            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/manage_users.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/configurations.js"></script>
            <script type="text/jsx" src="<%- cdn %>/javascripts/react_pages/map_session.js"></script>

            <!--script type="text/jsx" src="<%- cdn %>/javascripts/react-height.min.js"></script-->

            <% if (plugins) { %>
            	<% for(var i=0, l=plugins.length; i<l; i++) {%>
            		<script language="javascript" type="text/javascript" src="<%- cdn %>/<%= plugins[i] %>/javascripts/countly.models.js?<%= countlyVersion %>"></script>
            		<!--script language="javascript" type="text/javascript" src="<%- cdn %>/<%= plugins[i] %>/javascripts/countly.views.js?<%= countlyVersion %>"></script-->
            	<% } %>
            <% } %>

            <style>
                /* todo: add window resize events */
                #countly_logo_side, #countly_logo, #countly_version {
                    display : none;
                }
            </style>

        <% } %>

		<script type="text/javascript">

            var event_emitter = {};
            var global_controller = {}; // todo: remove
    
            var cached_viewport_width = false;
    
            var get_viewport_width = function() // first time it gives width without vertical scroll block
            {
    
                if (cached_viewport_width)
              	{
                		return cached_viewport_width;
              	}
    
              	var width = document.body.clientWidth - 240 - 20 - 20 - 16; // todo : variables
    
              	cached_viewport_width = width;
    
              	return width;
            }
    
        </script>

        <script type="text/javascript">
    
            var sidebar_width = 240;
    
            window.production = <%= production ? true : false %>;
    
            var initial_applications = [];
    
            <% for (var i = 0; i < userOfApps.length; i++) { %>
    
                var app_id   = "<%= userOfApps[i]._id %>";
                var app_name = "<%= userOfApps[i].name %>";
                var app_logo = "<%= userOfApps[i]._id %>.png";
                var app_key  = "<%= userOfApps[i].key %>";
    
                initial_applications.push({
                    id   : app_id,
                    name : app_name,
                    logo : app_logo,
                    key  : app_key
                });
    
            <% } %>
    
            try {
              	moment.lang(countlyCommon.BROWSER_LANG_SHORT);
            } catch(e) {
              	moment.lang("en");
            }
    
            if (!countlyCommon.ACTIVE_APP_ID) {
    
                for (var appId in countlyGlobal['apps']) {
    
                    countlyCommon.setActiveApp(appId);
                   
                    store.set("countly_active_app", appId);
    
                    break;
                }
    
            } else {
              	//self.activeAppName = countlyGlobal['apps'][countlyCommon.ACTIVE_APP_ID].name;
            }
    
    	
            var countly_version = "<%= countlyTypeName %>";
            var api_key =	"<%= member['api_key'] %>";
            var user_full_name = "<%= member['full_name'] %>";
            
            var global_admin = false;
            var admin_of_apps = false;
            
            <% if(member['global_admin']) { %>            
                global_admin = true;            
            <% } %>
            
            <% if(adminOfApps.length) { %>            
                admin_of_apps = true;            
            <% } %>
            
            // todo   ( || config.autonomous )
    
            console.log("api key:", api_key);
    
        </script>

</head>
<body>

    <div id="react_routing"></div>

    <div id="preloader"></div>

    <div id='weekly_extend_block' class="period_extend_block">
        <span class='big'>Time range contains an Incomplete week</span>
        <a class='small'>Click to extent to full weeks</a>
        <div class="bottom_arrow"></div>
    </div>

    <div id='monthly_extend_block' class="period_extend_block">
        <span class='big'>Time range contains an Incomplete month</span>
        <a class='small'>Click to extent to full months</a>
        <div class="bottom_arrow"></div>
    </div>

    <!--script language="javascript" type="text/javascript" src="https://www.google.com/jsapi"></script-->

    <% if (production) { %>
        <!--  -->
    <% } else { %>
        <% if (plugins) { %>
            <% for(var i=0, l=plugins.length; i<l; i++) {%>
            <script language="javascript" type="text/javascript" src="<%- cdn %>/<%= plugins[i] %>/javascripts/countly.models.js?<%= countlyVersion %>"></script>
            <!--script language="javascript" type="text/javascript" src="<%- cdn %><%= plugins[i] %>/javascripts/countly.views.js?<%= countlyVersion %>"></script-->
            <% } %>
        <% } %>
    <% } %>

    <script type="text/jsx">

        jQuery.i18n.properties({
            name:'locale',
            cache:true,
            language:countlyCommon.BROWSER_LANG_SHORT,
            path:[countlyGlobal["cdn"]+'/localization/min/'],
            mode:'map'
        });


        var navigation = get_sidebar_data();
        
        var wrapComponent = function(Component, props) {

            return React.createClass({

                render: function() {

                    return React.createElement(Component, props);
              
                }
            });
        };

        var Router = ReactRouter.Router;
        var Route = ReactRouter.Route;
        
        var __active_app = false;
        var __applications = false;

        const App = React.createClass({

            mixins: [ ReactRouter.History ],

            getInitialState : function(){

                return ({
          		    top_bar_first : false,
                    top_bar_second : false,
                    top_block : false,
                    language : false,
                    date : false
                    //data_timestamp : false
                })
            },

            componentDidMount : function(){
                if (initial_applications.length == 0)
                {
                    this.history.pushState(null, "/manage/apps");
                }
            },
            /*
            componentWillReceiveProps : function(nextProps)
            {
                console.log("app componentWillReceiveProps");
                console.log(nextProps)
            },
            */
            date_changed : function(new_date){
                this.setState({
                    date : new_date
                })
            },

            path_changed : function(first, second){

                if (!first)
                {
                    first = second;
                    second = false;
                }

                this.setState({
          		    top_bar_first : first,
              		top_bar_second : second
                })
            },            
            
            change_language : function(language){
                
                navigation = get_sidebar_data();
                
                this.setState({
                    language : language
                });
            },

            render() {
                
                if (this.props.location.pathname.indexOf("/events") > -1)
                {
                    var calendar_offset_top = 70;
                }
                else
                {
                    var calendar_offset_top = false;
                }

                if ((initial_applications.length != 0) && this.props.location.pathname.indexOf("/manage/users") == -1 && this.props.location.pathname.indexOf("/manage/configurations") == -1 && this.props.location.pathname.indexOf("/manage/apps") == -1 && this.props.location.pathname.indexOf("/manage/applications") == -1 && this.props.location.pathname.indexOf("/crashes/") == -1)
                {

                    var calendar = <div id="calendar_block">
                                        <CalendarWrapper
                                            onDateChange={this.date_changed}
                                            offset_top={calendar_offset_top}
                                            language={this.state.language}
                                        />
                                   </div>

                    var container_style = {
                        "border-width" : "1px"
                    }
                }
                else
                {

                    var calendar = false;

                    var container_style = {
                        "top" : "80px",
                        "border-width" : "0px"
                    }
                }

                if (this.props.location.pathname.indexOf("/events") > -1)
                {
                    container_style.top = "211px";
                    container_style.zIndex = 2000;
                }
               
                return (
                    <div className="app">
                                            
                        <div id="sidebar">
                            <FullSidebar
                                navigation={navigation}
                                active_app={__active_app}
                                current_location={this.props.location.pathname}
                                applications={__applications}
                                onChange={this.path_changed}
                                countly_version={countly_version}
                                language={this.state.language}
                                on_active_app_change={this.props.route.on_active_app_change}
                            />
                        </div>

                        <div id="top_bar">
                            <TopBar
                                user_name={user_full_name}
                                width={window.innerWidth - sidebar_width - 16}
                                first={this.state.top_bar_first}
                                second={this.state.top_bar_second}
                                language={this.state.language}
                                on_change_language={this.change_language}
                            />
                        </div>

                        {calendar}

                        <div id="content-container" style={container_style}>
                            {this.props.children && React.cloneElement(this.props.children, {
                                language : this.state.language,
                                date : this.state.date,
                                active_app : __active_app             
                            })}
                        </div>

                    </div>
                )
            }
        })

        var CountlyRouter = React.createClass({

            getInitialState: function() {
                                
                var active_app_id = countlyCommon.ACTIVE_APP_ID;

                var active_app = false;
        
                for (var i = 0; i < initial_applications.length; i++)
                {
              		if (initial_applications[i].id == active_app_id)
              		{
                        active_app = initial_applications[i];
                        break;
              		}
                }
                
                //active_app.id = active_app._id;
                active_app.logo = active_app.id + ".png";
                
                __applications = initial_applications;
                __active_app = active_app;

                return({
                    date : false,
                    applications : initial_applications,
                    active_app : active_app,
                    data_timestamp : false
                })

            },

            date_change : function(new_date)
            {
                this.setState({
                    date : new_date
                })
            },

            on_app_create : function(app){
                                
                countlyGlobal['apps'][app._id] = app;
                countlyGlobal['admin_apps'][app._id] = app;
                
                app.id = app._id;
                //delete app._id;
                app.logo = app.id + ".png";
                
                var applications = this.state.applications;
                
                applications.push(app);
                
                __active_app = app;
                
                countlyCommon.setActiveApp(app.id);
                
                this.setState({
                    applications : applications
                });
                
            },
            
            on_app_delete : function(app_id){
                                
                var applications = this.state.applications;
                
                var delete_i = false;
                
                for (var i = 0; i < applications.length; i++)
                {
                    if (applications[i].id == app_id)
                    {
                        delete_i = i;
                        break;
                    }
                }
                
                if (delete_i !== false)
                {
                    applications.splice(delete_i, 1);
                }
                
                __applications = applications;    
                __active_app = applications[0];
                
                console.log("__applications after delete");
                console.log(__applications);
                                
                this.setState({
                    applications : applications
                });
            },

            on_app_edit : function(app_id){
                
                var change_i = false;
                
                for (var i = 0; i < __applications.length; i++)
                {
                    if (__applications[i].id == app_id)
                    {
                        change_i = i;
                        break;
                    }
                }
                                                
                __applications[change_i].name = countlyGlobal['apps'][__applications[change_i].id].name;
                //countlyCommon.setActiveApp(app_id);
                
                this.setState({
                    applications : __applications
                });
                
            },

            on_active_app_change : function(app){
                                                
                app.id = app._id;
                app.logo = app.id + ".png";
                
                __active_app = app;
                
                countlyCommon.setActiveApp(app.id);
                
                this.setState({
                    active_app : app
                })
                  
            },

            render() {

                return (
                    <Router history={ReactRouter.browserHistory}>
                        <Route path="/" component={App} applications={this.state.applications} active_app={this.state.active_app} on_active_app_change={this.on_active_app_change} onDateChange={this.date_change.bind(this)}  offset_top={110}> // this.props.route.onDateChange
                            <Route path="dashboard" component={Dashboard}/>
                            <Route path="metrics">
                                <Route path="sessions"     component={SessionPage}/>
                                <Route path="users"        component={UserPage}/>
                                <Route path="resolutions"  component={ResolutionsPage}/>
                                <Route path="devices"      component={DevicesPage}/>
                                <Route path="countries"    component={CountriesPage}/>
                                <Route path="carriers"     component={CarrierPage}/>
                                <Route path="map_sessions" component={MapSessionPage}/>
                                <Route path="density"      component={DensitiesPage}/>
                                <Route path="language"     component={LanguagePage}/>
                                <Route path="platforms"	   component={PlatformsPage}/>
                            </Route>
                            <Route path="engagement">
                                <Route path="frequency" component={FrequencyPage}/>
                                <Route path="loyalty"   component={LoyaltyPage}/>
                                <Route path="durations" component={DurationPage}/>
                            </Route>
                            <Route path="events"    component={EventsPage}></Route>
                            <Route path="crashes"   component={CrashesPage}></Route>
                            <Route name="crashes_detail" path="/crashes/:crash_id" component={CrashDetailsPage}/>
                            <Route path="manage">                                    
                                             
                                {(() => {
                                    if(admin_of_apps || true){
                                        return (<Route path="apps"  component={wrapComponent(ApplicationsPage, {
                                            on_app_create : this.on_app_create,
                                            on_app_edit : this.on_app_edit,
                                            on_app_delete : this.on_app_delete,                                    
                                        })} />);
                                    }                                    
                                })()}                                
                                {(() => {
                                    if(global_admin){
                                        return (<Route path="users" component={ManageUsersPage}/>);
                                    }                                    
                                })()}
                                {(() => {
                                    if(global_admin){
                                        return (<Route path="configurations" component={ConfigurationsPage}/>);
                                    }                                    
                                })()}                                
                                
                                <Route path="populator" component={Populator}/>
                            </Route>
                        <Route path="*" component={Dashboard}/></Route>
                    </Router>)
                }
        })

        React.render(React.createElement(CountlyRouter), document.getElementById("react_routing"));

    </script>

    <script type="text/javascript">

        Date.prototype.monthDays= function(){ // todo: move from here
            var d= new Date(this.getFullYear(), this.getMonth()+1, 0);
            return d.getDate();
        }

        String.prototype.hashCode = function() {
            var hash = 0, i, chr, len;
            if (this.length === 0) return hash;
            for (i = 0, len = this.length; i < len; i++) {
            chr   = this.charCodeAt(i);
            hash  = ((hash << 5) - hash) + chr;
            hash |= 0; // Convert to 32bit integer
            }
            return hash;
        };

    </script>

</body>
</html>
